@model Singlearn.Models.Entities.ChapterName

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div style="padding: 15% 3% 3% 3%;">
                <h2>Create Chapter Name</h2>
                <hr />
                <form asp-action="CreateChapterName" method="post" asp-controller="SubjectMaterialChapter" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="name" class="control-label"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="chapter_id" class="control-label"></label>
                        <input asp-for="chapter_id" class="form-control" />
                        <span asp-validation-for="chapter_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="subject_id" class="control-label"></label>
                        <input asp-for="subject_id" class="form-control" />
                        <span asp-validation-for="subject_id" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-3 mb-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

                <div>
                    <a asp-action="IndexChapterNames" asp-controller="SubjectMaterialChapter" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
