@model Singlearn.Models.Entities.ChapterName

@{
    Layout = "~/Views/Shared/_LayoutFixed2 - Copy.cshtml";
    ViewData["Title"] = "Create Chapter Name";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Chapter Name</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-color: #f7f7f9;
        }

        .main-container {
            padding: 5% 0;
        }

        .form-container {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            margin: auto;
        }

        .btn-primary {
            display: block;
            width: 100%;
        }

        .back-link {
            text-align: center;
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        ::placeholder {
            color: lightgray;
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="container main-container">
        <div class="form-container">
            <h2>Create Chapter Name</h2>
            <hr />

            <form asp-action="CreateChapterName" method="post" asp-controller="SubjectMaterialChapter" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="name" class="control-label">Name</label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="chapter_id" class="control-label">Chapter ID</label>
                    <input asp-for="chapter_id" class="form-control" />
                    <span asp-validation-for="chapter_id" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="subject_id" class="control-label">Subject ID</label>
                    <input asp-for="subject_id" class="form-control" />
                    <span asp-validation-for="subject_id" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-3 mb-3">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>

                <div class="back-link text-center">
                    <a asp-action="IndexChapterNames" asp-controller="SubjectMaterialChapter" class="btn btn-secondary btn-block">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
