
@{
    Layout = "~/Views/Shared/_LayoutFixed2.cshtml";
    ViewData["StaffTitle"] = "Homepage";
    int homeworkId = ViewData["HomeworkId"] != null ? (int)ViewData["HomeworkId"] : 0;
}

@model List<Singlearn.Models.SubmissionViewModel>

<!-- Content wrapper -->
<div style="padding-top: 110px;" class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y" style="width:200%">
        <h1 class="fw-bold py-3 mb-2">Submission</h1>
        <!-- Basic Bootstrap Table -->
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Submission ID</th>
                            <th>Student</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var submission in Model)
                        {
                            <tr>
                                <td>
                                    @submission.submission_id
                                </td>
                                <td>
                                    @submission.student_name
                                </td>
                                <td>
                                    @submission.status
                                </td>
                                <td>
                                    <a asp-action="staff_marking" asp-route-submissionId="@submission.submission_id">Mark</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Basic Bootstrap Table -->
    </div>
</div>
<!-- / Content -->

