@{
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    ViewData["StaffTitle"] = "Homepage";
}

<!-- Content wrapper -->
<div class="content-wrapper" style="padding-top: 110px;">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xl-12">
                <!-- File input -->
                <div class="card">
                    <h5 class="card-header">Homework Name</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Submission</label>
                            <input class="form-control" type="file" id="formFile" />
                        </div>

                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>
