@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var studentId = HttpContextAccessor.HttpContext.Session.GetString("student_id");
    var role = HttpContextAccessor.HttpContext.Session.GetString("role");
}
@{
    Layout = "~/Views/Shared/_LayoutFixed.cshtml";
    ViewData["StaffTitle"] = "Homepage";
}

@model Singlearn.Models.UploadHomeworkViewModel

<!-- Content wrapper -->
<div class="content-wrapper" style="padding-top: 110px;">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h2 class="card-header mb-4" >Title: @Model.title</h2>
        <div class="row">
            <div class="col-xl-12">
                <!-- File input -->
                <div class="card">
                    <div class="card-body">
                        <form asp-action="student_upload" asp-controller="HomeworkHub" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="homework_id" />
                            <div class="mb-3">
                                <label class="form-label">Submission</label>
                                <input asp-for="file" class="form-control" type="file" name="file" required />
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>
