@{
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    ViewData["StaffTitle"] = "Homepage";
}

<!-- Content wrapper -->
<div style="padding-top: 110px;" class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y" style="width:200%">
        <h1 class="fw-bold py-3 mb-2">Dropbox</h1>

        <!-- Basic Bootstrap Table -->
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th>Homework</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr>
                        <td><a asp-action="#">Homework 1</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--/ Basic Bootstrap Table -->
    </div>
</div>
<!-- / Content -->