﻿@{
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    ViewData["lessonmain"] = "lessonmain";
}

<div class="container-fluid" style="padding-top: 150px;">
    <div class="row mb-12">
        <h1>Mathematics</h1>
    </div>
    <div class="col-lg-6">
        <div class="demo-inline-spacing mt-3">
            <div class="list-group list-group-horizontal-md text-md-center" style="width: 1000px;">
                <a class="list-group-item list-group-item-action active"
                   id="home-list-item"
                   data-bs-toggle="list"
                   href="#horizontal-ch1">Chapter 1: Fractions</a>
                <a class="list-group-item list-group-item-action"
                   id="profile-list-item"
                   data-bs-toggle="list"
                   href="#horizontal-ch2">Chapter 2: Division</a>
                <a class="list-group-item list-group-item-action"
                   id="messages-list-item"
                   data-bs-toggle="list"
                   href="#horizontal-ch3">Chapter 3: Angles</a>
                <a class="list-group-item list-group-item-action"
                   id="settings-list-item"
                   data-bs-toggle="list"
                   href="#horizontal-ch4">Chapter 4: Measurements</a>
            </div>
            <div class="tab-content px-0 mt-0">
                <div class="tab-pane fade show active" id="horizontal-ch1">
                    <div class="dropdown-content-container">
                        <select class="form-select" onchange="showContent(this.value, 'horizontal-ch1')">
                            <option value="ch1-video-lesson">Video Lesson</option>
                            <option value="ch1-lesson-notes">Lesson Notes</option>
                            <option value="ch1-assignments">Assignments</option>
                            <option value="ch1-homework">Homework</option>
                        </select>
                        <br />
                        <div id="ch1-video-lesson" class="additional-content">
                            <div class="row mb-5" style="width:1000px">
                                <div class="col-md">
                                    <div class="card mb-3">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <a href="https://www.youtube.com/watch?v=IPzE0Z5h-fU"><img class="card-img" src="https://img.youtube.com/vi/IPzE0Z5h-fU/maxresdefault.jpg" alt="Card image" /></a>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">Adding Fractions</h5>
                                                    <p class="card-text">Learn how to add fractions with common denominators.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <a href="https://www.youtube.com/watch?v=RunORqzH_90"><img class="card-img" src="https://img.youtube.com/vi/RunORqzH_90/maxresdefault.jpg" alt="Card image" /></a>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">Subtracting Fractions</h5>
                                                    <p class="card-text">Learn how to subtract fractions with common denominators.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ch1-lesson-notes" class="additional-content" style="display: none;">
                            <h2>Lesson Notes Content</h2>
                        </div>
                        <div id="ch1-assignments" class="additional-content" style="display: none;">
                            <h2>Assignments Content</h2>
                        </div>
                        <div id="ch1-homework" class="additional-content" style="display: none;">
                            <h2>Homework Content</h2>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="horizontal-ch2">
                    <div class="dropdown-content-container">
                        <select class="form-select" onchange="showContent(this.value, 'horizontal-ch2')">
                            <option value="ch2-video-lesson">Video Lesson</option>
                            <option value="ch2-lesson-notes">Lesson Notes</option>
                            <option value="ch2-assignments">Assignments</option>
                            <option value="ch2-homework">Homework</option>
                        </select>
                        <br />
                        <div id="ch2-video-lesson" class="additional-content">
                            <h2>Video Lesson Content for Chapter 2</h2>
                        </div>
                        <div id="ch2-lesson-notes" class="additional-content" style="display: none;">
                            <h2>Lesson Notes Content for Chapter 2</h2>
                        </div>
                        <div id="ch2-assignments" class="additional-content" style="display: none;">
                            <h2>Assignments Content for Chapter 2</h2>
                        </div>
                        <div id="ch2-homework" class="additional-content" style="display: none;">
                            <h2>Homework Content for Chapter 2</h2>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="horizontal-ch3">
                    <div class="dropdown-content-container">
                        <select class="form-select" onchange="showContent(this.value, 'horizontal-ch3')">
                            <option value="ch3-video-lesson">Video Lesson</option>
                            <option value="ch3-lesson-notes">Lesson Notes</option>
                            <option value="ch3-assignments">Assignments</option>
                            <option value="ch3-homework">Homework</option>
                        </select>
                        <br />
                        <div id="ch3-video-lesson" class="additional-content">
                            <h2>Video Lesson Content for Chapter 3</h2>
                        </div>
                        <div id="ch3-lesson-notes" class="additional-content" style="display: none;">
                            <h2>Lesson Notes Content for Chapter 3</h2>
                        </div>
                        <div id="ch3-assignments" class="additional-content" style="display: none;">
                            <h2>Assignments Content for Chapter 3</h2>
                        </div>
                        <div id="ch3-homework" class="additional-content" style="display: none;">
                            <h2>Homework Content for Chapter 3</h2>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="horizontal-ch4">
                    <div class="dropdown-content-container">
                        <select class="form-select" onchange="showContent(this.value, 'horizontal-ch4')">
                            <option value="ch4-video-lesson">Video Lesson</option>
                            <option value="ch4-lesson-notes">Lesson Notes</option>
                            <option value="ch4-assignments">Assignments</option>
                            <option value="ch4-homework">Homework</option>
                        </select>
                        <br />
                        <div id="ch4-video-lesson" class="additional-content">
                            <h2>Video Lesson Content for Chapter 4</h2>
                        </div>
                        <div id="ch4-lesson-notes" class="additional-content" style="display: none;">
                            <h2>Lesson Notes Content for Chapter 4</h2>
                        </div>
                        <div id="ch4-assignments" class="additional-content" style="display: none;">
                            <h2>Assignments Content for Chapter 4</h2>
                        </div>
                        <div id="ch4-homework" class="additional-content" style="display: none;">
                            <h2>Homework Content for Chapter 4</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showContent(selectedValue, tabId) {
        // Hide all additional content within the tab pane
        $("#" + tabId + " .additional-content").hide();

        // Show the content corresponding to the selected value
        $("#" + selectedValue).show();
    }

    // Ensure that the tabs and their contents are properly initialized
    $(document).ready(function () {
        $('.tab-pane').each(function () {
            var tabId = $(this).attr('id');
            var dropdown = $(this).find('select');

            if (dropdown.length) {
                var selectedValue = dropdown.val();
                showContent(selectedValue, tabId);
            }
        });

        // Tab click event to show the selected tab content and hide others
        $('.list-group-item').on('click', function () {
            var targetTab = $(this).attr('href');
            $('.tab-pane').hide();
            $(targetTab).show();
            $('.list-group-item').removeClass('active');
            $(this).addClass('active');
        });

        // Initially hide all tab panes except the active one
        $('.tab-pane').hide();
        $('.tab-pane.show.active').show();
    });
</script>