@model Singlearn.Models.Entities.STCTemplate

@{
    Layout = "~/Views/Shared/_LayoutFixed2 - Copy.cshtml";
    ViewData["Title"] = "Create STCTemplate";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div style="padding: 15% 3% 3% 3%;">
                <h2>Create STCTemplate</h2>
                <hr />

                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="stc_id" class="control-label">STC ID</label>
                        <input asp-for="stc_id" class="form-control" />
                        <span asp-validation-for="stc_id" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="template_id" class="control-label">Template ID</label>
                        <input asp-for="template_id" class="form-control" />
                        <span asp-validation-for="template_id" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center mt-3 mb-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

                <div>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
