@model Singlearn.Models.Entities.STCTemplate

@{
    Layout = "~/Views/Shared/_LayoutFixed2.cshtml";
    ViewData["Title"] = "STCTemplate Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div style="padding: 30% 3% 3% 3%; width: 800px;">
                <h2>STCTemplate Details</h2>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.stc_id)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.stc_id)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.template_id)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.template_id)
                    </dd>
                </dl>
                <div class="form-group mt-3 mb-3">
                    <a asp-action="Edit" asp-route-id="@Model?.stc_t_id" class="btn btn-warning"><i class="fa fa-pencil"></i> Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
