@model Singlearn.Models.Entities.STCTemplate

@{
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    ViewData["Title"] = "Edit STCTemplate";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div style="padding: 20% 3% 3% 3%; width: 800px;">
                <h2>Edit STCTemplate</h2>
                <hr />

                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="stc_t_id" />
                    <div class="form-group">
                        <label asp-for="stc_id" class="control-label"></label>
                        <input asp-for="stc_id" class="form-control" />
                        <span asp-validation-for="stc_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="template_id" class="control-label"></label>
                        <input asp-for="template_id" class="form-control" />
                        <span asp-validation-for="template_id" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-3 mb-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>

                <div>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
