@{
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    ViewData["Title"] = "Subject Page";
    string view_name = Model as string;
    var stc = ViewBag.SubjectTeacherClasses as Singlearn.Models.Entities.SubjectTeacherClass;
}

<!DOCTYPE html>
<html>
<head>
    <title>Subject Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      .main-body{
          margin-top: 120px;
      }

      .subject-title{
          padding: 10px;
          margin-left:300px;
      }

    </style>
</head>
<body>
    <div class="main-body">
        <h1 class="subject-title">@stc.Subject.name - @stc.Class.name (@stc.class_id)</h1>
        @if (!string.IsNullOrEmpty(view_name))
        {
            @await Html.PartialAsync($"~/Views/Templates/{view_name}.cshtml", stc)
        }
        else
        {
            <p>Template not found.</p>
        }
    </div>
</body>
</html>
