@model Singlearn.ViewModels.SubjectViewModel

@{
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    ViewData["Title"] = "Subject Page";
    var stc = Model.SubjectTeacherClass;
    var announcements = Model.Announcements;
    var materials = Model.Materials;
    string view_name = Model.TemplateViewName;
}

<!DOCTYPE html>
<html>
<head>
    <title>Subject Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>@stc.Subject.name - @stc.Class.name</h1>
        <div>
            @await Html.PartialAsync($"~/Views/Templates/{view_name}.cshtml", stc)
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title text-center">Subject Announcements</h5>
                <ul>
                    @foreach (var announcement in announcements)
                    {
                        @await Html.PartialAsync("~/Views/Staff/announcement.cshtml", announcement)
                    }
                </ul>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title text-center">Subject Materials</h5>
                <ul>
                  
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
